= form_for @restricted_friend do |f|
  - if @restricted_friend.errors.any?
    #error_explanation
      %h2= "#{pluralize(@restricted_friend.errors.count, "error")} prohibited this restricted_friend from being saved:"
      %ul
        - @restricted_friend.errors.full_messages.each do |msg|
          %li= msg

  %div{:style => "margin: 10px 0 0;;background-color: white;"}
    %table{:style => "padding-top: 10px;padding-bottom: 10px;width:98%;text-align: center;padding-left: 15px;margin: 0px 0 0px;background: none repeat scroll 0 0 white;"}
      %tr
        %td{:style=>"width: 51px;"}
          %em{:style => "font-weight:bold;"}
            If you do not want to wish someone else then u can restrict them through this.
            %br
            Please select checkbox associated with your friend and click on Update Now button.

  %div{:style => "height:400px;background:white;margin-bottom: 20px;"}
    %div{:style => "max-height:349px;overflow-y:auto;background-color: white;margin: 0px 0 0px;"}
      %table.friendsList
        - if @friends_profile.present?
          = render :partial => "friends_list",:collection => @friends_profile,:as => :friend
    .actions
      = f.submit 'Update Now',:class => 'button'
