%header
  #logo
    #logo_text
      / class="logo_colour", allows you to change the colour of the text
      = image_tag "logo.png"
      -#%h1
      -#  %a{:href => "#{root_url}"}
      -#    My
      -#    %span.logo_colour Friends Birthday
      -#%h2 Simple. Secure. Automated.
  %nav
    %ul#nav.sf-menu
      %li.selected
        = link_to "Home",root_url
      -#%li#opener
      -#  %a#opener{:href => "javascript:void();",:style => "pointer-events: auto;",:onclick => "alert()"} How to use
      -#%li
      -#  - if user_signed_in?
      -#    - if current_user.fb_authentication.present?
      -#
      -#    - else
      -#      = link_to "Use FB Apps",user_omniauth_authorize_path(:facebook)
      -#  -else
      -#    = link_to "facebook connect",user_omniauth_authorize_path(:facebook)

        -#%a{:href => "/facebook_connect",:style => 'pointer-events: auto;'} Use FB Apps
      %li
        - if user_signed_in?
          = link_to "My Facebook Analysis","/analysis/provider?facebook=my-data"
      %li
        - if user_signed_in?
          = link_to "Setting","javascript:void(0)"
          %ul
            %li
              = link_to "Restrict Friend(s)","/restricted_friends/new"
            %li
              = link_to "Restricted Friends list","/restricted_friends"
            %li
              = link_to "Disconnect from Apps","/destroy_fb_authentication",:action => "destroy_fb_authentication", method: :delete, data: { confirm: 'Are you sure, You want to Disconnect from this application?' }
      %li
        - if user_signed_in?
          = link_to "Logout",destroy_user_session_path
        -#- else
        -#  %a{:href => "#"} Login with
        -#  %ul
        -#    %li
        -#      = link_to "Facebook",user_omniauth_authorize_path(:facebook)
        -#    %li
        -#      - if user_signed_in?
        -#        = link_to "Logout",destroy_user_session_path

