%header
  #logo
    #logo_text
      / class="logo_colour", allows you to change the colour of the text
      %h1
        %a{:href => "#{root_url}"}
          My
          %span.logo_colour FriendsBirthday
      %h2 Simple. Secure. Automated.
  %nav
    %ul#nav.sf-menu
      %li.selected
        = link_to "Home",root_url
      %li#opener
        %a#opener{:href => "javascript:void();",:style => "pointer-events: auto;",:onclick => "alert()"} How to use
      %li
        - if user_signed_in?
          - if current_user.fb_authentication.present?
            = link_to "Disconnect from FB Apps","/destroy_fb_authentication",:action => "destroy_fb_authentication", method: :delete, data: { confirm: 'Are you sure?' }
          - else
            = link_to "Use FB Apps",user_omniauth_authorize_path(:facebook)
        -else
          = link_to "facebook connect",user_omniauth_authorize_path(:facebook)

        -#%a{:href => "/facebook_connect",:style => 'pointer-events: auto;'} Use FB Apps
      %li
        - if user_signed_in?
          = link_to "My Facebook Analysis","/analysis/provider?facebook=my-data"
      %li
        = link_to "Setting","javascript:void(0)"
        - if user_signed_in?
          %ul
            %li
              = link_to "Don't want to wish","/restricted_friends/new"
            %li
              = link_to "Restricted Friends list","/restricted_friends"

      %li
        - if user_signed_in?
          = link_to "Logout",destroy_user_session_path
        - else
          %a{:href => "#"} Login with
          %ul
            %li
              = link_to "Facebook",user_omniauth_authorize_path(:facebook)
            %li
              - if user_signed_in?
                = link_to "Logout",destroy_user_session_path

  #dialog{:title => "How to Use FriendsBirthday apps"}
    %p
      To use this application you need to connect with facebook.
      At the top in Menu there is a option UseFbApps then click on it and
      login with facebook my apps when you successfully authenticated by
      facebook then it will ask some permission related to birthday wishing please allow all permissions
      so that apps

