= form_for custom_message do |f|
  - if custom_message.errors.any?
    #error_explanation
      %h2= "#{pluralize(custom_message.errors.count, "error")} prohibited this custom_message from being saved:"
      %ul
        - custom_message.errors.full_messages.each do |msg|
          %li= msg

  .field
    -#= f.label :friend_uid
    = hidden_field_tag 'custom_message[friend_uid]',uid
    = hidden_field_tag 'is_birthday_today',(flag == 'today_birthday')
  .field
    %h2{:style => 'text-align:center;font-weight: bold;font-size: 22px;color: #0F0C0C;'}
      = "Please Set message for your friend's Birthday"
    %table{:border => "0px", "border-color" => "red", :height => "10%", :width => "100%",:cellspacing=> 0,:cellpadding=>0,:style => "margin:10px 0 3px"}
      %tbody
        %tr
          %td{:style => "background-color:#E5E3E3"}
            = image_tag(graph.get_picture(uid))
          %td{:style => "background-color:#E5E3E3"}
            %table
              %tbody
                %tr
                  %th{:style => "background-color:#E5E3E3"}
                    Name:
                  %td{:style => "background-color:#E5E3E3"}
                    = name
                %tr
                  %th{:style => "background-color:#E5E3E3"}
                    Birthday:
                  %td{:style => "background-color:#E5E3E3"}
                    = birthday
                %tr
                  %th{:style => "background-color:#E5E3E3"}
                    Gender:
                  %td{:style => "background-color:#E5E3E3"}
                    = gender.capitalize


    %span{:style => 'text-align:center;font-weight: bold;color: #0F0C0C;'}
      = "#{name} will get this message on #{(gender == "male")? "his":"her"} birthday"
    %br
  = text_area_tag 'custom_message[message]',"#{(get_custom_message.nil?)? "": get_custom_message.message}",:rows=>6, :cols=>60,:style => 'resize:none;width: 100%; margin-top: 10px;'
  .actions{:style => 'margin:10px 0px;padding-left: 33%;'}
    = f.submit (flag == 'today_birthday')? 'Send Message' : 'Save Message',:class => "button",:style=> "width:35%;margin:9px auto auto 10%;"
