= form_for custom_message,:remote => true do |f|
  - if custom_message.errors.any?
    #error_explanation
      %h2= "#{pluralize(custom_message.errors.count, "error")} prohibited this custom_message from being saved:"
      %ul
        - custom_message.errors.full_messages.each do |msg|
          %li= msg

  .field
    -#= f.label :friend_uid
    = hidden_field_tag 'custom_message[friend_uid]',uid
    = hidden_field_tag 'friend_name',name
    = hidden_field_tag 'is_birthday_today',(flag == 'today_birthday')
  .field
    %h2{:style => 'text-align:center;font-weight: bold;font-size: 22px;color: #0F0C0C;'}
      = "Please Set message for your friend's Birthday"
    %table{:border => "0px", "border-color" => "red", :height => "10%", :width => "100%",:cellspacing=> 0,:cellpadding=>0,:style => "margin:10px 0 3px"}
      %tbody
        %tr
          %td{:style => "background-color:#E5E3E3;font-size: 12px;padding: 5px 4px;"}
            = image_tag(graph.get_picture(uid),:type => "large")
          %td{:style => "background-color:#E5E3E3;font-size: 12px;padding: 5px 4px;"}
            %table
              %tbody
                %tr
                  %th.messageFormth
                    Name:
                  %td.messageFormth
                    = name
                %tr
                  %th.messageFormth
                    Birthday:
                  %td.messageFormth
                    = birthday
                %tr
                  %th.messageFormth
                    Gender:
                  %td.messageFormth
                    - if gender.present?
                      = gender.capitalize


    %span{:style => 'text-align:center;font-weight: bold;color: #0050FF;text-align: center;'}
      = "#{name} will get this message on #{(gender.present? ? (gender == "male")? "his":"her" : "")} birthday"
    %br
  = text_area_tag 'custom_message[message]',"#{(get_custom_message.nil?)? "": get_custom_message.message}",:rows=>6, :cols=>60,:class => 'textArea',:id => "custom_message_#{uid}"
  %div{:style => "margin-top:10px;width:100%;height:20px;color:#0050FF;font-weight:bold;"}
    Add Greeting
  - disable_avatar = BirthdayAvatarDisable.find_by_user_id_and_friend_uid(current_user.id,uid)
  -#- if disable_avatar.present?
  -#  - @yes_checked = "checked"
  -#  - @no_checked  = "true"
  -#- else
  -#  - @yes_checked = false
  -#  - @no_checked  = true

  %div{:class => "greeting_disabled",:id => "greeting_disabled_#{uid}"}
    - if disable_avatar.present?
      %input#addGreeting{:name => "addGreeting", :type => "radio", :value => "yes"}
        Yes
      %input#addGreeting{:name => "addGreeting", :type => "radio", :value => "no",:checked=>"checked"}
        No
    - else
      %input#addGreeting{:name => "addGreeting", :type => "radio", :value => "yes",:checked=>"checked"}
        Yes
      %input#addGreeting{:name => "addGreeting", :type => "radio", :value => "no"}
        No
  .actions{:style => 'margin:10px 0px;padding-left: 33%;'}
    = f.submit (flag == 'today_birthday')? 'Send Message' : 'Save Message',:class => "button",:style=> "width:35%;margin:9px auto auto 10%;"
