-#:javascript
-#  // Load the Visualization API and the piechart package.
-#  google.load('visualization', '1.0', {'packages':['corechart']});
-#
-#  // Set a callback to run when the Google Visualization API is loaded.
-#  google.setOnLoadCallback(drawChart);
-#
-#  // Callback that creates and populates a data table,
-#  // instantiates the pie chart, passes in the data and
-#  // draws it.
-#  function drawChart() {
-#
-#    // Create the data table.
-#    var data = new google.visualization.DataTable();
-#    data.addColumn('string', 'Topping');
-#    data.addColumn('number', 'Slices');
-#    data.addRows([
-#      ['Mushrooms', 3],
-#      ['Pepperoni', 2]
-#    ]);
-#    // Create the data table.
-#    var data2 = new google.visualization.DataTable();
-#    data2.addColumn('string', 'Topping');
-#    data2.addColumn('number', 'Slices');
-#    data2.addRows([
-#      ['Mushrooms', 3],
-#      ['Onions', 1],
-#      ['Olives', 15],
-#      ['Zucchini', 1],
-#      ['Pepperoni', 2]
-#    ]);
-#
-#
-#    // Set chart options
-#    var options = {'title':'friends gender analysis',
-#                   'width':400,
-#                   'height':300};
-#    // Set chart options
-#    var options2 = {'title':'How Much Pizza You Ate Last Night',
-#                   'width':400,
-#                   'height':300};
-#    // Set chart options
-#
-#    // Instantiate and draw our chart, passing in some options.
-#    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
-#    chart.draw(data, options);
-#    var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
-#    chart2.draw(data2, options2);
-#
-#  }
-#
%table{:style => "width:100%"}
  -#%tr
  -#  %th
  -#    Basic Profile Information
  %tr
    %td{:width=>'10%',:rowspan => '4'}
      = image_tag(@user_profile_image,:size => '100x100')
  %tr
    %th{:align=> 'center'}
      Birthday
    %td{:align=> 'center'}
      = @user_birthday
  %tr
    %th{:align=> 'center'}
      Age
    %td{:align=> 'center'}
      = @user_current_age

  %tr
    %th{:align=> 'center'}
      Next Birthday
    %td{:align=> 'center'}
      = @next_bithday
  %tr
    %td{:align=> 'center',:colspan => '3'}
      %a.openmodalbox{:href => "javascript:void(0);"}
        Basic Place
        - hometown = (@user_default_profile["hometown"].nil?)? 'Not Available': @user_default_profile["hometown"]["name"]
        - residence = (@user_default_profile["location"].nil?)? 'Not Available': @user_default_profile["location"]["name"]
        %span.modalboxContent
          = render :partial => 'basic_place',:locals => {:hometown => hometown,:residence => residence}
  %tr
    %td{:align=> 'center',:colspan => '3'}
      %a.openmodalbox{:href => "javascript:void(0);"}
        Friends Gender
        %span.modalboxContent
          = render :partial => 'friends_gender'
          #chart_div{:style => 'width:300px;height400px;'}

  %tr
    %td{:align=> 'center',:colspan => '3'}
      %a.openmodalbox{:href => "javascript:void(0);"}
        Friends Relationship Status
        %span.modalboxContent
          = render :partial => 'friends_relationship_status'
  %tr
    %td{:align=> 'center',:colspan => '3'}
      %a.openmodalbox{:href => "javascript:void(0);"}
        Friend's Locations
        %span.modalboxContent
          = render :partial => 'friends_location'

  %tr
    %td{:align=> 'center',:colspan => '3'}
      %a.openmodalbox{:href => "javascript:void(0);"}
        My Most Commented  Status
        %span.modalboxContent
          = render :partial => 'my_most_commented_status'

  %tr
    %td{:align=> 'center',:colspan => '3'}
      %a.openmodalbox{:href => "javascript:void(0);"}
        My Most Liked  Status
        %span.modalboxContent
          = render :partial => 'my_most_liked_status'
