%table{:style => "width:100%"}
  -#%tr
  -#  %th
  -#    Basic Profile Information
  %tr
    %td{:width=>'10%',:rowspan => '4'}
      = image_tag(@user_profile_image,:size => '100x100')
  %tr
    %th{:align=> 'center'}
      Birthday
    %td{:align=> 'center'}
      = @user_birthday
  %tr
    %th{:align=> 'center'}
      Age
    %td{:align=> 'center'}
      = @user_current_age

  %tr
    %th{:align=> 'center'}
      Next Birthday
    %td{:align=> 'center'}
      = @next_bithday
  %tr
    %td{:align=> 'center',:colspan => '3'}
      %a.openmodalbox{:href => "javascript:void(0);"}
        Basic Place
        - hometown = (@user_default_profile["hometown"].nil?)? 'Not Available': @user_default_profile["hometown"]["name"]
        - residence = (@user_default_profile["location"].nil?)? 'Not Available': @user_default_profile["location"]["name"]
        %span.modalboxContent
          = render :partial => 'basic_place',:locals => {:hometown => hometown,:residence => residence}
  %tr
    %td{:align=> 'center',:colspan => '3'}
      %a.openmodalbox{:href => "javascript:void(0);"}
        Friends Gender
        %span.modalboxContent
          = render :partial => 'friends_gender'
  %tr
    %td{:align=> 'center',:colspan => '3'}
      %a.openmodalbox{:href => "javascript:void(0);"}
        Friends Relationship Status
        %span.modalboxContent
          = render :partial => 'friends_relationship_status'
  %tr
    %td{:align=> 'center',:colspan => '3'}
      %a.openmodalbox{:href => "javascript:void(0);"}
        Friend's Locations
        %span.modalboxContent
          = render :partial => 'friends_location'
