%table{:style => "width:100%;text-align:center;"}
  %tr
    %td{:style => "text-align:center;"}
      = image_tag "basic-details.png"
      %a.openmodalbox{:href => "javascript:void(0);",:id => "basic_details"}
        Basic Details
        %span.modalboxContent
          = render :partial => 'basic_details'
  %tr
    %td{:align=> 'center',:colspan => '3',:style => "text-align:center;"}
      %a.openmodalbox{:href => "javascript:void(0);"}
        Groups
        %span.modalboxContent
          = render :partial => 'my_groups'
      = image_tag "group.png"
  %tr
    %td{:align=> 'center',:colspan => '3',:style => "text-align:center;"}
      = image_tag "comments.png"
      %a.openmodalbox{:href => "javascript:void(0);"}
        Most Commented  Status
        %span.modalboxContent
          = render :partial => 'my_most_commented_status'

  %tr
    %td{:align=> 'center',:colspan => '3',:style => "text-align:center;"}
      %a.openmodalbox{:href => "javascript:void(0);"}
        Most Liked  Status
        %span.modalboxContent
          = render :partial => 'my_most_liked_status'
      = image_tag "like.png"
  %tr
    %td{:align=> 'center',:colspan => '3',:style => "text-align:center;"}
      %a.openmodalbox{:href => "javascript:void(0);"}
        Best Commented Album
        %span.modalboxContent
          = render :partial => 'my_albums'
  %tr
    %td{:align=> 'center',:colspan => '3',:style => "text-align:center;"}
      %a.openmodalbox{:href => "javascript:void(0);"}
        Latest Best Liked Album
        %span.modalboxContent
          = render :partial => 'my_most_liked_album'



  %tr
    %td{:align=> 'center',:colspan => '3',:style => "text-align:center;"}
      = image_tag "gender.png"
      %a.openmodalbox{:href => "javascript:void(0);",:id => "friends_gender"}
        Friends Gender
        %span.modalboxContent
          = render :partial => 'friends_gender'
          #chart_div{:style => 'width:300px;height400px;'}

  %tr
    %td{:align=> 'center',:colspan => '3',:style => "text-align:center;"}
      %a.openmodalbox{:href => "javascript:void(0);"}
        Friends Relationship Status
        %span.modalboxContent
          = render :partial => 'friends_relationship_status'
  %tr
    %td{:align=> 'center',:colspan => '3',:style => "text-align:center;"}
      = image_tag "locationmap.png"
      %a.openmodalbox{:href => "javascript:void(0);"}
        Friend's Locations
        %span.modalboxContent
          = render :partial => 'friends_location'

