- if flash[:notice].present?
  .message.success
    %h3
      = flash[:notice]
- if flash[:alert].present?
  .message.error
    %h3
      = flash[:alert]

#site_content
  #sidebar_container
    .sidebar

      -#- unless user_signed_in?
      -#  %h3 Latest News
      -#  -#%div{:style => "background:white;"}
      -#  -#  .fb-activity{"data-action" => "like", "data-app-id" => "206656552803930", "data-header" => "true", "data-height" => "300", "data-recommendations" => "true", "data-site" => "http://friends-birthday.herokuapp.com", "data-width" => "200"}
      -#  %h4 Facebook apps for Virtue Info family will be available on
      -#  %h5 December 10st, 2012
      -#  %p
      -#    2012 sees the redesign of our website. Take a look around and let us know what you think.
      -#    %br/
      -#    %a{:href => "#"} Read more
  .content
    - unless current_user.present?
      %h1 Welcome to FriendsBirthday Apps
      %p
        Hi friends last time I made an apps for birthday wishing with a single click. Now I made a new version of this application.
        In this version I added some functionality.
      .sidebar
        %h4{:style => "font-size:140%"} New features
        %ul
          %li.addPadding
            Only once you need to connect with facebook.
          %li.addPadding
            It take care of your friends birthday wishing. If you forget to wish, then this apps wish them Automatically on behalf of you.
          %li.addPadding
            You can set your own message before coming your friends birthday.(If you don't set your message then a system generated wishing message will send at your friends timeline)
          -#%li.addPadding
          -#  If you add your email address then this apps will also send a notification mail to you, so that you have wished your friends birthday successfully.(optional)
          %li.addPadding
            Additionally there is a option for your facebook profile analysis which shows...
            %ul
              %li
                Your total Active friends..
              %li
                Your total Male Female friends analysis.
              %li
                Your friends location analysis.
              %li
                Your friends relationship status analysis.
              %li
                Your total status updated by you on facebook wall.
              %li
                Your Best 5 most commented status on facebook wall.
          %li
            You have also an option for disconnect.
      %h4.suggestionBox
        Your suggestions
      .fbLikeButton
        .fb-like{"data-href" => "http://friends-birthday.heroku.com/", "data-send" => "true", "data-show-faces" => "true", "data-width" => "450"}
      .fbCommentBox
        .fb-comments{"data-href" => "http://friends-birthday.herokuapp.com/", "data-num-posts" => "10", "data-width" => "800"}

    - else
      - auth = current_user.fb_authentication
      - if auth
        %h4{:style => "padding:20px 1px 10px 2%;color:#3B5998;font-size:155%;font-weight:bold"}
          Hi
          = "#{@me["first_name"]},"
        %h5{:style => "padding:0 0 15px 14%;padding:0px 0 15px 2%;font-size:120%;color:#3F3F3F;font-weight:bold"}
          #{t 'home.connected_message'}
        - if @today_birthday.present?
          %h4.friendsHvBirthday
            #{t 'home.list_of_friends_heading'}
          = render :partial => 'birthday_list',:locals => {:friends => @today_birthday,:flag => 'today_birthday'}
        - else
          %br
          .birthdayMessage
            #{t 'home.no_one_birthday_message'}
          %br
        - if @nxt_upcoming_birthdays.present?
          %h4.friendsHvBirthday
            #{t 'home.list_of_upcoming_heading'}
          = render :partial => 'birthday_list',:locals => {:friends => @nxt_upcoming_birthdays,:flag => 'upcoming_birthday'}
        - else
          %h4
            .upComingBirthdayHeading
              #{t 'home.no_upcoming_birthday_heading'}
      - else
        %p
          if you want to use automated birthday wishing for facebook friends, please connect with facebook app.
          Click On Use FB APP at top menu.

