#site_content
  #sidebar_container
    .sidebar
      %h3 Latest News
      %h4 Facebook apps for Virtue Info family will be available on
      %h5 December 10st, 2012
      %p
        2012 sees the redesign of our website. Take a look around and let us know what you think.
        %br/
        %a{:href => "#"} Read more
  .content
    - unless current_user.present?
      %h3
        = flash[:notice]
      %h1 Welcome to FriendsBirthday Apps
      %p
        Hi friends last time i made an apps for birthday wishing with a single click. Now i made a new version of this application.
        In this version i added some functionality in it.
      .sidebar{:style => 'width:500px;'}
        %h4 New features
        %ul
          %li{:style => 'padding: 0 0 22px 28px;'}
            Only once you need to connect with facebook.
          %li{:style => 'padding: 0 0 22px 28px;'}
            It take care of your friends birthday wishing. If you forget to wish, then this apps wish them automatically on behalf of you.
          %li{:style => 'padding: 0 0 22px 28px;'}
            You can set your own message before coming your friends birthday.(If you do not set your message then a system generated wishing message will send at your friends timeline)
          %li{:style => 'padding: 0 0 22px 28px;'}
            If you add your email address then this apps will also send a notification mail to you, so that you have wished your friends birthday successfully.(optional)
          %li{:style => 'padding: 0 0 22px 28px;'}
            If this apps get something wrong then it will disconnect you from facebook in this app and an email notification will be send to you for Reconnect with this apps.
          %li{:style => 'padding: 0 0 22px 28px;'}
            You have also an option for disconnect.
      #dialog{:title => "How to Use FriendsBirthday apps"}
        %p
          To use this application you need to connect with facebook.
          At the top in Menu there is a option UseFbApps then click on it and
          login with facebook my apps when you successfully authenticated by
          facebook then it will ask some permission related to birthday wishing please allow all permissions
          so that apps
      %h4{:style => 'margin-top:10px;'}
        Your suggestions

      .fb-comments{"data-colorscheme" => "dark", "data-href" => "http://viinfo-employees-birthday.heroku.com", "data-num-posts" => "10", "data-width" => "470"}

    - else
      %h3
        = flash[:notice]
      - auth = current_user.fb_authentication
      - if auth
        %h5
          #{t 'home.connected_message'}
        - if @today_birthday.present?
          %h4
            #{t 'home.list_of_friends_heading'}
          = render :partial => 'birthday_list',:locals => {:friends => @today_birthday,:flag => 'today_birthday'}
        - else
          %h4
            Hi
            = "#{@me["first_name"]},"
            %br
            %div{:style => 'margin-left:30%;'}
              #{t 'home.no_one_birthday_message'}
            %br
        - if @nxt_upcoming_birthdays.present?
          %h4
            #{t 'home.list_of_upcoming_heading'}
          = render :partial => 'birthday_list',:locals => {:friends => @nxt_upcoming_birthdays,:flag => 'upcoming_birthday'}
        - else
          %h4
            %div{:style => 'margin-left:30%;'}
              #{t 'home.no_upcoming_birthday_heading'}
      - else
        %p
          if you want to use automated birthday wishing for facebook friends. Please connect with facebook app.
          Click On Use FB APP at top menu.
    :javascript
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Mushrooms', 3],
          ['Onions', 1],
          ['Olives', 1],
          ['Zucchini', 1],
          ['Pepperoni', 2]
        ]);
        // Create the data table.
        var data2 = new google.visualization.DataTable();
        data2.addColumn('string', 'Topping');
        data2.addColumn('number', 'Slices');
        data2.addRows([
          ['Mushrooms', 3],
          ['Onions', 1],
          ['Olives', 15],
          ['Zucchini', 1],
          ['Pepperoni', 2]
        ]);


        // Set chart options
        var options = {'title':'friends gender analysis',
                       'width':400,
                       'height':300};
        // Set chart options
        var options2 = {'title':'How Much Pizza You Ate Last Night',
                       'width':400,
                       'height':300};
        // Set chart options

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
        chart2.draw(data2, options2);

      }

  -##chart_div
  #chart_div2

