#site_content
  #sidebar_container
    .sidebar

      -#- unless user_signed_in?
      -#  %h3 Latest News
      -#  -#%div{:style => "background:white;"}
      -#  -#  .fb-activity{"data-action" => "like", "data-app-id" => "206656552803930", "data-header" => "true", "data-height" => "300", "data-recommendations" => "true", "data-site" => "http://friends-birthday.herokuapp.com", "data-width" => "200"}
      -#  %h4 Facebook apps for Virtue Info family will be available on
      -#  %h5 December 10st, 2012
      -#  %p
      -#    2012 sees the redesign of our website. Take a look around and let us know what you think.
      -#    %br/
      -#    %a{:href => "#"} Read more
  .content{:style => "width:100%"}
    - unless current_user.present?
      - if flash[:notice].present?
        %h3
          = flash[:notice]
      %h1 Welcome to FriendsBirthday Apps
      %p
        Hi friends last time I made an apps for birthday wishing with a single click. Now I made a new version of this application.
        In this version I added some functionality.
      .sidebar{:style => 'width:95%;'}
        %h4{:style => "font-size:140%"} New features
        %ul
          %li{:style => 'padding: 0 0 10px 28px;'}
            Only once you need to connect with facebook.
          %li{:style => 'padding: 0 0 10px 28px;'}
            It take care of your friends birthday wishing. If you forget to wish, then this apps wish them automatically on behalf of you.
          %li{:style => 'padding: 0 0 10px 28px;'}
            You can set your own message before coming your friends birthday.(If you do not set your message then a system generated wishing message will send at your friends timeline)
          %li{:style => 'padding: 0 0 10px 28px;'}
            If you add your email address then this apps will also send a notification mail to you, so that you have wished your friends birthday successfully.(optional)
          %li{:style => 'padding: 0 0 10px 28px;'}
            If this apps get something wrong then it will disconnect you from facebook in this app and an email notification will be send to you for Reconnect with this apps.
          %li{:style => 'padding: 0 0 10px 28px;'}
            You have also an option for disconnect.
      %h4{:style => 'margin:5px 25px;font-size: 124%;'}
        Your suggestions
      %div{:style => "background:white;padding: 20px;border:1px solid #C4CDE0;margin-left:14px;width:91%"}
        .fb-like{"data-href" => "http://friends-birthday.heroku.com/", "data-send" => "true", "data-show-faces" => "true", "data-width" => "450"}
      %div{:style => "background:#fff;border:1px solid #C4CDE0;margin-bottom:50px;padding-top:10px;margin-left:14px;margin-top:5px;width:96%"}
        .fb-comments{"data-href" => "http://friends-birthday.herokuapp.com/", "data-num-posts" => "10", "data-width" => "470"}

    - else
      - if flash[:notice].present?
        %h3
          = flash[:notice]
      - auth = current_user.fb_authentication
      - if auth
        %h4{:style => "padding:20px 1px 10px 2%;color:#3B5998;font-size:155%;font-weight:bold"}
          Hi
          = "#{@me["first_name"]},"
        %h5{:style => "padding:0 0 15px 14%;padding:0px 0 15px 2%;font-size:120%;color:#3F3F3F;font-weight:bold"}
          #{t 'home.connected_message'}
        - if @today_birthday.present?
          %h4{:style => "padding:6px 0 5px 20px;font:normal 120% arial,sans-serif;color:#fff;background:none repeat scroll 0 0 #3B5998"}
            #{t 'home.list_of_friends_heading'}
          = render :partial => 'birthday_list',:locals => {:friends => @today_birthday,:flag => 'today_birthday'}
        - else
          %br
          %div{:style => 'margin-left:33%;font-size:120%;color:red;'}
            #{t 'home.no_one_birthday_message'}
          %br
        - if @nxt_upcoming_birthdays.present?
          %h4{:style => "padding:10px 2px 0 20px;height:25px;normal 120% arial,sans-serif;color:#fff;background:none repeat scroll 0 0 #3B5998;margin-left: 22px;width:92%;"}
            #{t 'home.list_of_upcoming_heading'}
          = render :partial => 'birthday_list',:locals => {:friends => @nxt_upcoming_birthdays,:flag => 'upcoming_birthday'}
        - else
          %h4
            %div{:style => 'margin-left:30%;'}
              #{t 'home.no_upcoming_birthday_heading'}
      - else
        %p
          if you want to use automated birthday wishing for facebook friends, please connect with facebook app.
          Click On Use FB APP at top menu.
